 html {
     position: relative;
     font-size: 95%;
     text-decoration-skip: ink;
}
 @media (min-width: 0.01em) {
     html {
         font-size: 60%;
    }
}
 @media (min-width: 15em) {
     html {
         font-size: 65%;
    }
}
 @media (min-width: 35em) {
     html {
         font-size: 67.5%;
    }
}
 @media (min-width: 60em) and (min-height: 30em) {
     html {
         font-size: 70%;
    }
}
 @media (min-width: 75em) and (min-height: 40em) {
     html {
         font-size: 75%;
    }
}
 @media (min-width: 90em) and (min-height: 50em) {
     html {
         font-size: 80%;
    }
}
 @media (min-width: 100em) and (min-height: 65em) {
     html {
         font-size: 90%;
    }
}
 html.touch {
     -webkit-text-size-adjust: none;
}
 .wrap {
     margin: 0 auto;
     max-width: 1540px;
}
 @media (min-width: 40em) {
     .wrap,.nav-container {
         padding: 0 2rem;
    }
}
 @media (min-width: 47.5em) {
     .wrap,.nav-container {
         padding: 0 2rem;
    }
}
 @media (min-width: 57.5em) {
     .wrap{
         padding: 0 5%;
    }
    .nav-container {
         padding: 0 5.5%;
    }
}
 @media (max-width: 600px) {
     .wrap,.nav-container {
         width: 90%;
    }
}
 body {
     font-family: 'NStext', helvetica, arial, san-serif;
     font-size: 1.4em;
     color: #6b6159;
     font-weight: 400;
     line-height: 1.4;
     -webkit-font-smoothing: antialiased;
     -webkit-tap-highlight-color: rgba(255, 255, 255, 0.25);
}
 body {
     z-index: 1;
     margin: 0 auto;
     max-width: none;
}
 @media screen {
     body {
         background: white;
    }
}
 .search-site {
     position: relative;
     float: right;
     margin: 2.5em 0 0 0;
}
 .search-site input[type=text] {
     color: #877b71;
     margin: 0 0 0 0;
     font-size: 0.85em !important;
     padding: 0.55em 3.25em 0.7em 0.55em;
     border: 0;
     border-bottom: 1px solid #f0eeed;
}
 .search-site *[type=submit] {
     position: absolute;
     right: 0em;
     top: 0.5em;
     height: 1.3em;
     width: 1.3em;
     margin: 0;
     padding: 0;
     border: 0;
     opacity: 0.7;
     background: url("icon-search-dark.png") no-repeat center center;
     background-size: contain;
     outline: none;
}
 .nav-tools {
     display: block;
     width: 100%;
     text-align: right;
}
 .nav-tools a {
     display: inline-block;
}
 .nav-tools .country a {
     display: inline-block;
     color: #4f4842;
     background: white;
}
 .nav-tools .country a:hover {
     background: #f0eeed;
}
 .nav-tools .country a img {
     display: inline;
     padding-left: 5px;
}
 .nav-tools .contact a {
     display: inline-block;
     background: #4f4842;
     background: #796E65;
     color: #f0eeed;
}
 .nav-tools .contact a:hover {
     background: #4f4842;
}
 .nav-tools .country {
     background: white;
     padding-right: 0.5em;
}
 .nav-tools a.language {
     display: inline-block;
     padding-left: 0.2em;
     padding-right: 0.2em;
     text-decoration: none;
     background: white;
}
 .nav-tools a.language:hover {
     background: #f0eeed !important;
}
 .nav-tools ul {
     max-width: 100%;
     margin-top: 0px;
     -webkit-padding-start: 0px;
}
 .nav-tools li {
     display: inline-block;
     margin-left: 1px;
}
 .nav-tools li a {
     font-size: 0.8em;
     background: #f7f6f5;
     padding: 0.4em 1.2em;
     color: #4f4842;
}
 .nav-tools li a:hover {
     background: #e4e1df;
}
 .nav-tools li:first-child a {
     border-left: 1px solid white;
}
 .window-curve {
     position: absolute;
     margin-top: -21px;
     height: 21px;
}
 .nav-main {
     clear: left;
     display: block;
     width: 100%;
     margin: 0 0 0.8em 0;
     position: relative;
}
 .nav-main .icon-home {
     position: relative;
     top: 1px;
     display: inline;
     padding: 0.5em 1em 1em 0.5em;
}
 .nav-main .icon-home:hover {
     background: none;
}
 .nav-main .icon-home img {
     display: inline;
}
 .nav-main ul {
     max-width: 100%;
     margin: 0;
     background: #f0eeed;
     border-top-left-radius: 0;
     padding: 0 0em;
}
 .nav-main li {
     display: inline-block;
}
 .nav-main li a {
     display: inline-block;
     padding: 0.7em 0.7vw;
     font-size: 1em;
     color: #4f4842;
     text-decoration: none;
}
 .ul-reset li a {
     max-width: 80%;
}
 .kitkat-menu {
     margin-top: 2.5em;
     display: block;
     float: right;
     width: 20px;
     cursor: pointer;
     padding-right: 5%;
}

.search-menu {
    margin-top: 2.5em;
    display: block;
    float: right;
    width: 20px;
    cursor: pointer;
    padding-right: 5%;
}

.search-menu img{
    max-width: 33px;
    margin-top: -3px;
}

.icon-home{
     padding-left:0; 
}
.icon-home img{
     width: 20px;
     padding-left:0;
     margin-left:0;
}
 @media (min-width: 950px) {
     .kitkat-menu {
         display: none;
    }
    .search-menu {
         display: none;
    }
}

 body.navgap .nav-main ul {
     margin-bottom: 0.8em !important;
}
 .header-site-left {
     display: block;
     width: 20%;
     height: 100%;
     position: fixed;
     background: #f0eeed;
     border-radius: 0 !important;
}
 .nav-left .header-site-left .wrap {
     margin: 0;
     padding: 1.5em 2em 2em 1.2em;
}
 .nav-lines .window-curve {
     display: none;
}
 .nav-container {
     margin: 0 auto;
     max-width: 1530px;
     -webkit-box-sizing: content-box;
     box-sizing: content-box;
     border-radius: 0 !important;
     pointer-events: all;
}
 .nav-padding {
    padding: 0em 0em 0em 0em;
}
 .mega-menu {
     display: none;
     left: 0;
     position: absolute;
     text-align: left;
     width: 100%;
     pointer-events: none;
     background: #f9f9f8;
}
 .search-menu-panel {
     display: none;
     left: 0;
     position: absolute;
     text-align: left;
     width: 100%;
     pointer-events: none;
     background: #f9f9f8;
}

 ul.ul-reset.nav-demo1 {
     display: none;
}
 ul.ul-reset.nav-demo1.clicked {
     display: block !important;
}
 .cta-bar {
     clear: left;
     background: #e7e4e2;
     padding: 0.5em 0.5em 0.5em 0.5em;
     margin-bottom: 0;
     text-align: right;
}
.cta-bar .cta-bar-container{
     margin: 0 auto;
     max-width: 1540px;
}
 .cta-bar a.button {
     margin: 0;
     background: #796E65;
     color: white;
     font-family: NStext;
     font-size: 0.9em;
}
 .mega-cta {
     display: inline-block;
     margin-bottom: 0;
     padding-bottom: 0;
     background: white;
     border-radius: 1em 1em 0 0;
     text-align: left;
}
 .mega-cta a:hover {
     color: black;
     background: #fcfbfb !important;
     border-radius: 1em 1em 0 0 !important;
}
 .mega-cta img {
     float: right;
     margin-top: 8px;
}
 .mega-cta .cta-text {
     width: 200px;
}
 .mega-cta .mega-cta--major {
     color: #4f4842;
     font-weight: bold;
}
 .mega-cta .mega-cta--minor {
     color: #4f4842;
     font-size: 0.8em;
}
 .mega-cta2 {
     display: inline-block;
     margin-bottom: 0;
     padding-bottom: 0;
     background: white;
     border-radius: 0;
     text-align: left;
}
 .mega-cta2 a {
     padding: 0.5em !important;
}
 .mega-cta2 a:hover {
     color: black;
     background: #fcfbfb !important;
     border-radius: 0 !important;
}
 .mega-cta2 img {
     float: right;
     margin-top: 2px;
     margin-right: 2px;
}
 .mega-cta2 .cta-text {
     width: 200px;
}
 .mega-cta2 .mega-cta--major {
     color: #4f4842;
     font-weight: bold;
}
 .mega-cta2 .mega-cta--minor {
     color: #4f4842;
     font-size: 0.8em;
}
 .mega-cta3 {
     display: inline-block;
     margin-bottom: 0;
     padding-bottom: 0;
     background: #485CC7;
     border-radius: 0;
     text-align: left;
}
 .mega-cta3 a {
     color: white;
     padding: 0.5em !important;
}
 .mega-cta3 a:hover {
     background: #fcfbfb !important;
     border-radius: 0 !important;
}
 .mega-cta3 img {
     float: right;
     margin-top: 3px;
     padding-right: 6px;
}
 .mega-cta3 .cta-text {
     width: 200px;
}
 .mega-cta3 .mega-cta--major {
     color: #4f4842;
     color: white;
     font-weight: bold;
}
 .mega-cta3 .mega-cta--minor {
     color: #4f4842;
     color: white;
     font-size: 0.8em;
}
 .mega-menu h3 {
     color: #4f4842;
     margin: 0.25em 0 0.5em 0;
}
 .mega-menu ul {
     float: left;
     margin-bottom: 1em;
     margin-right: 0%;
     width: 100%;
     padding: 0;
     position: absolute;
}
 .mega-menu ul:last-child {
     margin-right: 0;
}
 .nav-main .mega-menu li {
     display: block;
     width: 100%;
     position: static;
}
 .nav-main .mega-menu li a {
     color: #796E65;
     padding: 0.2em 0.2em;
}
 @media (min-width: 100em) {
     .nav-main .mega-menu li a {
         padding: 0.2em .8em;
    }
}
 .nav-main .mega-menu li:hover {
     background: #93877e;
}
 .nav-main .mega-menu .ul-reset li.children:hover {
     background: #93877e url(img/nav-arrow-oak.png) no-repeat right !important;
}
 .nav-main .mega-menu .ul-reset li.children.selected:hover {
     background: #d2cecd url(img/nav-arrow-oak.png) no-repeat right !important;
}
 .nav-main .mega-menu .ul-reset li.selected:hover>a{
     color: #796E65;
}
 .nav-main .mega-menu .ul-reset li.selected.children{
     background: #d2cecd url(img/nav-arrow-oak.png) no-repeat right !important;
}
 .mega-menu a:hover {
     color: #2d6a91;
}
.search-menu-panel a:hover {
     color: #2d6a91;
}
 ul.ul-reset {
     background: none;
     border-radius: none;
     padding-right: 3% !important;
}
 ul.ul-reset li strong {
     font-weight: 900 !important;
}
 .droppable {
     position: static;
}
 .droppable > a:after {
     content: "\f107";
     content: "";
     font-family: FontAwesome;
     font-size: 16px;
     padding-left: 6px;
     position: relative;
     top: -1px;
}
 .mega-menu-opened .mega-menu {
     display: block;
}
 .search-menu-opened .search-menu-panel {
     display: block;
}
 .cf:before, .cf:after {
     content: " ";
    /* 1 */
     display: table;
    /* 2 */
}
 .cf:after {
     clear: both;
}
 .nav-underlay {
     background: rgba(0, 0, 0, 0.5);
     width: 100%;
     z-index: 0;
     height: 100%;
     left: 0;
     top: 0;
     position: fixed;
}
 .header-site {
     position: relative;
     z-index: 1;
}
 .header-site:after {
     content: '';
     display: table;
     clear: both;
}
 .header-site a {
     display: block;
     text-decoration: none;
     color: #fff;
}
 .header-site .masthead {
     padding: 0;
}
 .header-site .masthead:after {
     content: '';
     display: table;
     clear: both;
}
 .header-site img.logo {
     display: block;
     max-width: none;
     margin: 0em 0 1.5em 0;
     text-align: left;
     width: 350px;
}
 @media (max-width: 100em) {
     .header-site img.logo {
         width: 280px;
         max-width: 80%;
    }
}
 .nav-left img.logo {
     padding-top: 0.3em;
     margin-bottom: 1em;
     width: 380px;
}
 .search-site *[type=submit] {
     position: absolute;
     right: 0em;
     top: 0.5em;
     height: 1.3em;
     width: 1.3em;
     margin: 0;
     padding: 0;
     border: 0;
     opacity: 0.7;
     background: url(img/icon-search-dark.png) no-repeat center center;
     background-size: contain;
}
.search-site input[type=text]:focus
{
    outline: none;
}
.search-site *[type=submit] {
    cursor: pointer;
}

 .nav-sub{
     display: flex;
}
 .search-menu-panel .nav-sub{
     height: 50px;
}

.mobile-search-form{
    width: 80%;
}

.mobile-search-form input[type="submit"]{
    height: 2em;
    width: 2em;
    border: 0;
    opacity: 1;
    background: url(img/icon-search-dark.png) no-repeat center center;
    background-size: contain;
    background-position: right 0px top 4px;
}

.mobile-search-form input[type="text"]{
    color: #877b71;
    margin: 0 0 0 0;
    font-size: 0.85em !important;
    padding: 0.55em 3.25em 0.7em 0.55em;
    border: 0;
    border-bottom: 1px solid #f0eeed;
    width: 80%;
}

 .nav-container{
     overflow:hidden;
}
 .hidden{
     display:block;
     visibility:hidden;
}
 .ul-reset{
     margin-left: 100% !important;
     top: 0%;
}
 .ul-reset .selected{
     display: inline-block;
}
 li.selected {
     background: #93877e !important;
}
 .data-depth-0>li>a{
     display: none;
}
 .data-depth-0>li.selected>a{
     color: #93877e !important;
     display: block;
     font-size: 25px;
     font-weight: bold;
     color: inherit !important;
     background: #f9f9f8 !important 
}
 .data-depth-0>li.selected>a:hover{
     background: inherit;
     color: inherit;
}
 .data-depth-0{
     position: relative !important;
     margin-left: 0% !important;
     width: 28% !important;
     top: 0%;
     overflow: visible !important;
}

 #meta-description{
     padding-top: 1.2em;
     padding-bottom: 1.2em;
     max-width: 100%;
     margin: 0 auto;
     font-size: 0.85em;
}
 .nav-wrapper{
     display: flex;
     width: 100%;
     overflow: hidden;
}
 .nav-padding{
     position: relative;
}
 .ul-reset .parent{
     font-size: 1em;
     font-weight: bold;
}
 .ul-reset li.parent a{
     z-index: 120 !important;
}
 .ul-reset li.selected{
     background: #d2cecd !important;
}
 .data-depth-0>li.selected {
     background: inherit !important;
}
 @media (max-width: 950px) {

    .nav-main .mega-menu .ul-reset li.children:hover {
        background: inherit !important;
    }
    .nav-main .search-menu-panel .ul-reset li.children:hover {
        background: inherit !important;
    }

     .horizontal-nav {
        display: none;
    }
     .meta-mega {
        display: none;
    }
     .nav-wrapper {
        width: 100%;
    }
     .ul-reset{
         margin-left: 25vw !important;
         width: 30vw !important;
         top: 0%;
    }
     .search-site {
         display: none;
    }
     .data-depth-0>li>a{
         display: inherit;
    }
     .data-depth-0>li.selected>a{
         color: inherit !important;
         display: inherit;
         font-size: inherit;
         font-weight: inherit;
    }
     .fixed-div{
         display: none;
    }
     .data-depth-0>li.selected {
         background: inherit !important;
    }
     .data-depth-0>li.selected>a:hover{
         background: inherit;
         color: inherit;
    }
     .data-depth-0{
         position: relative !important;
         margin-left: 0vw !important;
         width: 40% !important;
         top: 0%;
    }
     .data-depth-0 li{
         margin-left: 0vw !important;
    }
}
 .nav-sub{
     margin-left: -30%;
     width: 97%;
}
 .ul-reset li:first-child{
     border-bottom: 1px solid #f0eeed;
     border-top: 1px solid #af9e97;
     padding-bottom: 15px;
     padding-top: 15px;
     margin-bottom: 15px;
}
 .data-depth-0 .selected{
     background: inherit;
     color: inherit;
}
 .nav-sub .ul-reset.data-depth-0{
     border-top: 0px solid;
}
 .nav-sub .ul-reset.data-depth-0>li:first-child{
     border-bottom: 0px solid #f0eeed;
     border-top: 0px solid #4f4842;
}
 .nav-sub .ul-reset.data-depth-0>li>a{
     background: #f9f9f8 !important;
     color: #f9f9f8 !important;
}
 .nav-main .mega-menu li:hover>a {
     color:white;
}
 .nav-main .search-menu-panel li:hover>a {
     color:white;
}

 li.children, .ul-reset.data-depth-0>li{
     background: url(img/nav-arrow-oak.png) no-repeat right;
     cursor: pointer;
}
 .nav-main li a.clicked.selected{
     background: #f9f9f8;
     color: #796E65;
}
 .ul-reset .parent span{
     display: block;
     font-size: 0.85em;
     font-weight: 100;
}
 .data-depth-0 li{
     margin-left: 0vw !important;
     border-top: none;
     border-bottom: none;
}

 .diffnav{
     float: right;

}
.mega-menu .closer a {
    position: absolute;
    top: 1em;
    font-size: 0.9em;
    right: 0em;
    color: white;
    padding: 0.4em 0.55em 0.15em 0.55em !important;
    border-radius: 3em;
    background-color: #BAAEA5;
}

.mega-menu .closer a img {
    width: 16px;
}

.search-menu-panel .closer a {
    position: absolute;
    top: 1em;
    font-size: 0.9em;
    right: 0em;
    color: white;
    padding: 0.4em 0.55em 0.15em 0.55em !important;
    border-radius: 3em;
    background-color: #BAAEA5;
}

.search-menu-panel .closer a img {
    width: 16px;
}





.language-panel {
  padding: 0.2em 0 2em 0;
  background: #796E65;
  width: 100%;
  display: none;
}

.language-panel .closer a {
  position: absolute;
  top: 1em;
  right: 0;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.6em 0.6em 0.3em 0.65em !important;
  border-radius: 3em;
}

.language-panel .closer a img {
  width: 16px;
}

.language-panel h3 {
  font-size: 1.4em;
  color: white;
  margin-top: 0.5em;
}

.language-panel ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.language-panel li {
  width: auto;
  margin: 0;
  display: inline-block;
  line-height: 1.4em;
  padding-bottom: 0.4em;
}

.language-panel a {
  margin: 0 .5em 0 0 !important;
  padding: 0.1em 0.3em !important;
  color: #f0eeed;
  font-size: 0.9em;
  background: #6b6159;
  border-radius: 0;
}

.language-panel a:hover {
  background: #5d554e;
}

 @media (max-width: 950px) {
    #pNavigation{
        width: inherit;
        position: relative;
        margin-left: inherit;
        left: inherit;
    }
}


.mega-cta3 .mega-cta--minor, .mega-cta3 .mega-cta--major {
    color: #796E65;
}

.mega-cta3 {
    background-color: #f9f9f8 !important;
    color: #796E65;
}

.mega-menu ul li a>span{
    display: none;
}

.search-menu-panel ul li a>span{
    display: none;
}


/* Mobile */
 @media (max-width: 950px) {

    li.children, .ul-reset.data-depth-0 > li {
      background: inherit !important;
    }

    li.children > a, .ul-reset.data-depth-0 > li > a {
      background: url(img/nav-arrow-oak.png) no-repeat right;
    }

    .mega-menu ul {
      position: relative;
    }

    .data-depth-0 {
      width: 100% !important;
    }

    .nav-sub {
      margin-left: 0%;
      width: 100%;
    }
    .nav-sub .ul-reset.data-depth-0 > li > a {
      color: inherit !important;
    }

    .ul-reset > li > a {
      display: block;
    }

    .nav-main li {
      display: initial;
    }

    .hidden {
      display: none;
    }

    .ul-reset {
      margin-left: 0% !important;
    }

    .data-depth-0 {
      height: inherit !important;
    }
    .data-depth-0 > li.selected > a {
      font-size: inherit;
      font-weight: inherit;
    }

    .nav-main .mega-menu li {
      box-sizing: border-box;
      border-bottom: 1px solid #d2cecd !important;
    }
    .nav-main .mega-menu li:last-child {
      border-bottom: 0px !important;
    }
    .nav-main .mega-menu li a {
      padding: .75em .5em .75em 0;
    }

    .ul-reset {
      width: 100% !important;
    }
    .ul-reset li a {
      max-width: 100%;
    }

    .nav-main .mega-menu .ul-reset li.children:hover > a, .nav-sub .ul-reset.data-depth-0 > li.children > a {
      background: #f9f9f8 url(img/nav-arrow-oak.png) no-repeat right !important;
    }

    .nav-main .mega-menu li:hover {
      background: #f9f9f8 !important;
    }
    .nav-main .mega-menu li:hover > a {
      color: inherit !important;
    }

    .ul-reset li:first-child {
      padding-bottom: 0px;
      padding-top: 0px;
      margin-bottom: 0px;
    }

    .nav-wrapper {
      padding-top: 15px;
    }

    .nav-main .mega-menu .ul-reset li.children.selected {
      background: #d2cecd url(img/nav-arrow-oak.png) no-repeat right !important;
    }
    .nav-main .mega-menu .ul-reset li.selected:hover {
      background: #d2cecd !important;
    }
    .nav-main .mega-menu .ul-reset li.selected.children > a {
      background: #d2cecd url(img/nav-arrow-down-oak.png) no-repeat right !important;
      width: 99%;
    }
    .nav-main .mega-me  nu .ul-reset li.children.selected:hover > a {
      background: #d2cecd url(img/nav-arrow-down-oak.png) no-repeat right !important;
      width: 99%;
    }
    .nav-main .mega-menu .ul-reset li.selected.children, .nav-main .mega-menu .ul-reset li.children.selected:hover {
      background: inherit !important;
    }
    .nav-main .mega-menu li {
      display: inline-block;
    }

    .ul-reset li:has(> .parent) {
      display: none;
    }

    .mega-menu ul {
      margin-bottom: 0em;
    }

   
    .mega-menu ul li.selected>a>span{
        display: block;
        font-size: 12px;
    }

    .ul-reset li:first-child {
      border-bottom: 0px;
      border-top: 0px;
    }

    .data-depth-0 li a {
      padding-left: 0% !important;
      width: 96% !important;
    }
    .data-depth-0 li > a {
      padding-left: 2% !important;
      padding-right: 2% !important;
    }

    .data-depth-1 li > a {
      padding-left: 7% !important;
      width: 91% !important;
    }

    .data-depth-2 li > a {
      padding-left: 12% !important;
      width: 86% !important;
    }

    .data-depth-3 li > a {
      padding-left: 17% !important;
      width: 82% !important;
    }


    .nav-container {
      padding: 0% 6%;
    }

    ul.ul-reset {
      padding-right: 0% !important;
    }

    .mega-menu .closer a {
      display: none;
    }

    .header-site {
      z-index: 9999;
      background-color: white;
    }
}


 @media (max-width: 480px) {
    .kitkat-menu {
        margin-top: 1em;
      }
      .search-menu {
        margin-top: 1em;
      }
}